.codex/.sandbox-bin/codex.exe filter=lfs diff=lfs merge=lfs -text
.codex/logs_2.sqlite filter=lfs diff=lfs merge=lfs -text
LvZhou/.obsidian/plugins/claudian/node_modules/@anthropic-ai/claude-agent-sdk-win32-x64/claude.exe filter=lfs diff=lfs merge=lfs -text
